header {
    width: 1020px;
    height: 95px;
    background-color: #2d303a;
}
.header-main {
    display: flex;
    padding: 41px 38px;
    justify-content: space-between;
}
main {
    width: 1020px;
    height: 600px;
    background-color: #f06c64;
}
.main-information{
    width: 1020px;
    height: 495px;
    background-color: #f2f2f2;
}
nav {
    width: 373px;
    
}
ul :first-child {
    list-style-type: none;
}
li ::before{
    width: 100px;
}
ul {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 16px;
    color: #f06c64;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
}
.logo {
    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
}
.header-bottom {
    position: absolute;
    width: 1020px;
    height: 6px;
    background-color: #323746;
    top: 89px;
}
* {
    margin: 0;
    padding: 0;
}

