@font-face{

    font-family: 'Lato';
    
    src: url("./assets/Lato-Regular.ttf") format('truetype');
    
    font-weight: normal;
    
    font-style: normal;
    
    }
    
    .conteiner-1, .conteiner-2, .conteiner-3{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 940px;
        margin-left: 40px;
        margin-right: 87px;
    }
    /* .conteiner-1{
        position: relative;
        top: 56px;
    } */
    .conteiner-3{
        position: relative;
        top: 40px;
    }
    .conteiner-2{
        position: relative;
        top: 20px;
    }

    .box{
        width: 220px;
        height: 187px;
        background-color: #464b5e;
        overflow: hidden;
    }
 
    .header{
        width: 1020px;
        height: 185px;
    }

    

    h1{
        font-size: 30px;
        line-height: 18px;
        color: #666d89;
        font-family: "Lato";
        font-weight: 900;
        text-align: left;
        letter-spacing: 0.9px;
        position: relative;
        top: 69px;
        left: 40px;
        width: 122px;
        height: 22px;
    }

        
    .text{
        width: 940px;
        height: 57px;
        font-size: 18px;
        line-height: 30px;
        color: #767e9e;
        font-family: "Lato";
        font-weight: 300;
        text-align: left;
        position: relative;
        top: 92px;
        left: 40px;
        letter-spacing: -0.1px;
        word-spacing: -1.5px;
    }

    .portfolio{
        width: 1020px;
        height: 870px;
        background-color: #2d303a;
    }
    .img1 {
        position: relative;
        top: -11px;
        right: 8px;
    }
    .img2 {
        position: relative;
        top: -43px;
        right: 82px;
    }
    .img3 {
        position: relative;
        left: -11px;
        top: -1px;
    }
    .img4 {
        position: relative;
        right: 24px;
        top: -2px;
    }
    .img5 {
        position: relative;
        top: -16px;
        right: 10px;
    }
    .img6 {
        position: relative;
        top: -4px;
        right: 16px;
    }
    .img7 {
        position: relative;
        top: -39px;
        right: 31px;
    }
    .img8 {
        position: relative;
        top: -32px;
        right: 24px;
    }
    .img9 {
        position: relative;
        top: -2px;
        right: 16px;
    }
    .img10 {
        position: relative;
        top: -113px;
        left: -141px;
    }
    .img11 {
        position: relative;
        top: -175px;
        left: -144px;
    }
    .img12 {
        position: relative;
        top: -60px;
        right: 36px;
    }
    .bg-footer {
        width: 1020px;
        height: 728px;
        background-color: #f2f2f2;
    }
    .Afooter{
        font-size: 30px;
        line-height: 18px;
        color: #666d89;
        font-family: "Lato";
        font-weight: 900;
        text-align: left;
        width: 143px;
        position: relative;
        letter-spacing: 0.6px;
        word-spacing: -2.9px;
        top: 68px;
        left: 41px;
    }
    .text2{
        width: 940px;
        height: 57px;
        font-size: 18px;
        line-height: 30px;
        color: #767e9e;
        font-family: "Lato";
        font-weight: 300;
        text-align: left;
        position: relative;
        letter-spacing: -0.2px;
        word-spacing: 0.2px;
        top: 91px;
        left: 40px;
        width: 941px;
    }
    
    .faces{
        position: relative;
        top: 23px;
        margin: 0px 40px;
        height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .box2{
        width: 300px;
        height: 300px;
        background-color: #464b5e;
        overflow: hidden;
    }

    .infoface {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 40px;
        position: relative;
        top: 39px;
    }

    .aboutus{
        height: 300px;
        width: 300px;
    }

    h2 {
        font-size: 18px;
        line-height: 18px;
        color: #666d89;
        font-family: "Lato";
        font-weight: 900;
        text-align: left;
    }

    .textface{
        width: 300px;
        height: 76px;
        font-size: 12px;
        line-height: 22px;
        color: #767e9e;
        font-family: "Lato";
        font-weight: 400;
        text-align: left;
        position: relative;
        top: 11px;
        left: -0.4px;
        line-height: 21.5px;
    }

    .firsticon{
        position: relative;
        left: -1px;
    }

    .secondicon{
        position: relative;
        left: 1px;
    }

    .therdicon{
        position: relative;
        left: 3px;
    }

    .dicon{
        position: relative;
        left: 5px;
    }

    ul{
        /* list-style: none;  */
        margin: 0; 
        padding-left: 0; 
        position: relative;
        top: 15px;
        left: 37.5px;
    }

    ul li {
        display: inline;
    }

    li {
        font-size: 12px;
        line-height: 22px;
        color: #767e9e;
        font-family: "Lato";
        font-weight: 400;
        text-align: left;
        margin: 0 3.5px;
        border: 1px solid #767e9e;
        border-radius: 6px;
        padding: 3px 6px;
        cursor: pointer !important;
    }

    .flexpos{
        position: absolute;
        top: 196px;
    }

    .line1{
        width: 1020px;
        height: 6px;
        background-color: #323746;
        position: relative;
        top: 679px;
    }

    .line2{
        width: 1020px;
        height: 6px;
        background-color: #ffffff;
        position: relative;
        top: -67px;
    }

    li :hover{
        color: #dedede;
        border-color: #dedede;
    }

    .inm {
        cursor: pointer;
    }

    .fuck {
        height: 50px;
        width: 500px;
        position: absolute;
        top: 140px;
    }

    * {
        margin: 0;
        padding: 0;
    }
