header {
    width: 1020px;
    height: 95px;
    background-color: #2d303a;
}
.header-main {
    display: flex;
    padding: 41px 38px;
    justify-content: space-between;
}
main {
    width: 1020px;
    height: 600px;
    background-color: #f06c64;
}
.main-information{
    width: 1020px;
    height: 495px;
    background-color: #f2f2f2;
}
nav {
    width: 373px;
    
}
ul :first-child {
    list-style-type: none;
}
li ::before{
    width: 100px;
}
ul {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 16px;
    color: #f06c64;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
}
.logo {
    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
}
.header-bottom {
    position: absolute;
    width: 1020px;
    height: 6px;
    background-color: #323746;
    top: 89px;
}
.footer-info{
    font-size: 15px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    position: relative;
    top: 68px;
    left: 40px;
    letter-spacing: 0.4px;
    word-spacing: -1.3px;
}
.fish-text{
    width: 946px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    position: relative;
    top: 95px;
    left: 40px;
    letter-spacing: -0.1px;
    word-spacing: 0.3px;
}
.options{
    position: relative;
    top: 144px;
    height: 208px;
}
.options-row {
    display: flex;
    flex-direction: row;
    height: 123px;
}
.positions {
    width: 320px;
    position: relative;
    left: 119px;
}
.positions h2 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    position: relative;
    left: 0px;
    top: -1px;
    letter-spacing: 0.2px;
}
.positions img {
    position: relative;
    top: -144px;
    left: -79px;
}
.positions p{
    width: 240px;
    height: 127px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    position: relative;
    top: 9px;
    left: 1px;
    word-spacing: 2px;
}
.phone-vertical {
    position: relative;
    top: 53px;
    left: 112px;
}
.phone-horiz{
    position: relative;
    top: -69px;
    left: 181px;
}
.chev-rigth{
    transform: rotate(180deg);
    position: relative;
    top: -175px;
    left: 212px;
}
.chev-left{
    position: relative;
    top: -175px;
    left: -690px;
}
.Bg-Bottom {
    width: 1020px;
    height: 6px;
    background-color: #ea676b;
    position: relative;
    top: 107px;
}
* {
    margin: 0;
    padding: 0;
}

